.home__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__roomContainer {
    gap: var(--small-spacing);
    height: 30vh;
}

.home__createJoinRoomContainer {
    
}