:root {
  /* spacings */
  --very-small-spacing: 4px;
  --small-spacing: 8px;
  --medium-spacing: 12px;
  --standard-spacing: 16px;
  /* colors */
  --primary-color: #008B8B;
  --danger-color: red;
}

/* universal resets */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a, a:focus, a:hover {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input {
    outline: none;
}

/* helper classes */
.w-100 {
  width: 100%;
}

.txt-cen {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.gap-small {
	gap: var(--small-spacing);
}

.gap-standard {
  gap: var(--standard-spacing);
}

.m-bottom-standard {
	margin-bottom: var(--standard-spacing);
}

.al-cen {
  align-items: center;
}

.jus-cen {
  justify-content: center;
}
body {
background: rgb(231,255,219);
background: linear-gradient(90deg, rgba(231,255,219,1) 0%, rgba(173,255,187,1) 61%, rgba(232,251,255,1) 100%);
}